img {
	max-width:100%;
	height:auto;
}
.category_inline, .product_inline {
	display:inline-block;
	padding:1em;
}
.category_inline a, .category_inline a:visited, .product_inline a, .product_inline a:visited {
	color:black;
	font-size:120%;
}
.product_inline {
	max-width:220px;
}
.product_title {
	min-height:3.5em;
}
.price del {
	text-decoration: line-through;
	/*noinspection CssOverwrittenProperties*/
	text-decoration: black line-through; /* Ignored in CSS1/CSS2 UAs 
}
/* ####################### mcat-order #################### */
#cart {
	min-width:46em;
	max-width:100%;
	min-height:120px;
	border-right:1px solid darkgrey;
	border-left:1px solid darkgrey;
	border-bottom:1px solid darkgrey;
	padding:1em;
}