{% extends "mbase/layouts/xs-12.html" %}
{% load staticfiles i18n %}

{% block title %}{{ category.name }}{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'mcat/mcat.css' %}" />
{% endblock extra_head %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		{% include 'mcat/breadcrumbs.html' %}
		<h1 class="text-center"><a name="title"></a>{{ category.name }}</h1>
		<a name="main_content"></a>
		{% if use_filters %}
			<div class="text-center gls-l">
				{% include 'mcat/render_filters.html' %}
			</div>
		{% endif %}
		{% if products %}
		    <div id="products" class="text-center">
			    {% for product in products %}
			        {% include 'mcat/products/product_inline.html' %}
			    {% endfor %}
			</div>
		    <div class="gus-l gf text-center">{% include "mcat/products/paginate.html" %}</div>
		{% else %}
			<div class="jumbotron text-center gbf">{% trans "There is no products in this category" %}</div>
		{% endif %}
		{% include 'mbase/return_btn.html' %}
	</div>
</div>
{% endblock %}

