{% extends "base.html" %}
{% load i18n thumbnail mptt_tags staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'mcat/mcat.css' %}" />
{% endblock extra_head %}

{% block title %}{{ current_category.name }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>{{ current_category.name }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% with current_category as category %}
				{% include 'mcat/breadcrumbs.html' %}
			{% endwith %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a name="main_content"></a>
			{% for category in categories %}
	            {% if category.is_leaf_node %}
	            	{% with leaf=True %}
	             		{% include 'mcat/categories/category_inline.html' %}
	             	{% endwith %}
		        {% else %}
		        	{% include 'mcat/categories/category_inline.html' %}
		        {% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock content %}