{% load staticfiles i18n mcat_tags %}

{% if caracteristics %}
	<div class="gf">
		{% for filter in caracteristics %}
			<div class="btn-group{% if btn_block == True %} btn-group-justified{% endif %}">
				<div class="btn-group gds grs gls">
					<a href="" class="btn btn-primary{% if btn_block == True %} btn-block{% endif %} disabled">{{ filter.name }}</a> 
					{% if filter.type == 'choices' %}
						{% for choice, slug in filter.get_choices.items %}
							{% is_active_filter active_filters filter.slug slug as is_active %}
							{% if is_active %}
								<a href="{% remove_from_get name=filter.slug value=slug %}" class="btn btn-success{% if btn_block == True %} btn-block{% endif %}">{{ choice }}</a>
							{% else %}
								<a href="{% append_to_get name=filter.slug value=slug %}" class="btn btn-default{% if btn_block == True %} btn-block{% endif %}">{{ choice }}</a>
							{% endif %}
						{% endfor %}
					{% elif filter.type == 'boolean' %}
						{% is_active_filter active_filters filter.slug '1;b' as is_active %}
						{% if is_active %}
								<a href="{% remove_from_get name=filter.slug value='1;b' %}" class="btn btn-success{% if btn_block == True %} btn-block{% endif %}">{% trans 'Yes' %}</a>
						{% else %}
							<a href="{% append_to_get name=filter.slug value='1;b' %}" class="btn btn-default{% if btn_block == True %} btn-block{% endif %}">{% trans 'Yes' %}</a>
						{% endif %}
						{% is_active_filter active_filters filter.slug '0;b' as is_active %}
						{% if is_active %}
							<a href="{% remove_from_get name=filter.slug value='0;b' %}" class="btn btn-success{% if btn_block == True %} btn-block{% endif %}">{% trans 'No' %}</a>
						{% else %}	
							<a href="{% append_to_get name=filter.slug value='0;b' %}" class="btn btn-default{% if btn_block == True %} btn-block{% endif %}">{% trans 'No' %}</a>
						{% endif %}
					{% elif filter.type == 'int' %}
						{% for text, range in filter.get_choices.items %}
							{% is_active_filter active_filters filter.slug range as is_active %}
							{% if is_active %}
								<a href="{% remove_from_get name=filter.slug value=range %}" class="btn btn-success{% if btn_block == True %} btn-block{% endif %}">{{ text }}</a>
							{% else %}
								<a href="{% append_to_get name=filter.slug value=range %}" class="btn btn-default{% if btn_block == True %} btn-block{% endif %}">{{ text }}</a>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}