{% load staticfiles i18n mcat_tags %}

{% if caracteristics %}
	<div class="gf">
		{% for filter in caracteristics %}
			<div class="btn-group{% if filters_position == 'side' %} btn-group-justified{% endif %}">
				<div class="btn-group gds grs gls">
					<a href="" class="btn btn-primary disabled">{{ filter.name }}</a> 
					{% if filter.type == 'choices' %}
						{% for choice, slug in filter.get_choices.items %}
							{% if filter.slug in active_filters and slug in active_values %}
								<a href="{% remove_from_get name=filter.slug value=slug %}" class="btn btn-success">{{ choice }}</a>
							{% else %}
								<a href="{% append_to_get name=filter.slug value=slug %}" class="btn btn-default">{{ choice }}</a>
							{% endif %}
						{% endfor %}
					{% elif filter.type == 'boolean' %}
						{% if filter.slug in active_filters and '1;b' in active_values %}
							<a href="{% remove_from_get name=filter.slug value='1;b' %}" class="btn btn-success">{% trans 'Yes' %}</a>
						{% else %}
							<a href="{% append_to_get name=filter.slug value='1;b' %}" class="btn btn-default">{% trans 'Yes' %}</a>
						{% endif %}
						{% if filter.slug in active_filters and '0;b' in active_values %}
							<a href="{% remove_from_get name=filter.slug value='0;b' %}" class="btn btn-success">{% trans 'No' %}</a>
						{% else %}	
							<a href="{% append_to_get name=filter.slug value='0;b' %}" class="btn btn-default">{% trans 'No' %}</a>
						{% endif %}
					{% elif filter.type == 'int' %}
						{% for text, range in filter.get_choices.items %}
							{% if filter.slug in active_filters and range in active_values %}
								<a href="{% remove_from_get name=filter.slug value=range %}" class="btn btn-success">{{ text }}</a>
							{% else %}
								<a href="{% append_to_get name=filter.slug value=range %}" class="btn btn-default">{{ text }}</a>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}

{% if use_price_filter %}
	<script type="text/javascript" src="{% static 'mcat/jquery-ui/jquery-ui.min.js' %}"></script> 
	<link rel="stylesheet" href="{% static 'mcat/jquery-ui/jquery-ui.min.css' %}" />
	<script type="text/javascript">
		$(function () {
	      $('#slider-container').slider({
	          range: true,
	          min: {{ min_price }},
	          max: {{ max_price }},
	          values: [{{ min_price }}, {{ max_price }}],
	          create: function() {
	              $("#amount").val("{{ min_price }} {% trans 'to' %} {{ max_price }}  {{ currency }}");
	          },
	          slide: function (event, ui) {
	              $("#amount").val(ui.values[0] + " {% trans 'to' %} " + ui.values[1] + " {{ currency }}");
	              var mi = ui.values[0];
	              var mx = ui.values[1];
	              filterSystem(mi, mx);
			  }
			})
		  });
		  function filterSystem(minPrice, maxPrice) {
		      $("#products .product_inline").hide().filter(function () {
		          var price = parseInt($(this).data("price"), 10);
		          return price >= minPrice && price <= maxPrice;
		      }).show();
		  }
	</script>
	<div id="price-range-slider">
		<p class="gus gds gbf gb text-center">
			{% trans 'Price' %}
		</p>
		<p>
			<div id="slider-container"></div>
		</p>
		<p id="amount-container">
		    <label for="amount">{% trans 'Price range' %}:</label>
		    <input type="text" id="amount" class="gb text-success" style="border:none" />
		</p>
		<div id="slider-range"></div>
	</div>
{% endif %}

