{% load i18n mcat_tags %}

{% if caracteristics %}
	<div class="gf">
		{% for filter in caracteristics %}
			<div class="btn-group{% if filters_position == 'side' %} btn-group-justified{% endif %}">
				<div class="btn-group gds grs gls">
					<a href="" class="btn btn-primary disabled">{{ filter.name }}</a> 
					{% if filter.type == 'choices' %}
						{% for choice, slug in filter.get_choices.items %}
							{% if filter.slug in active_filters and slug in active_values %}
								<a href="{% remove_from_get name=filter.slug value=slug %}" class="btn btn-success">{{ choice }}</a>
							{% else %}
								<a href="{% append_to_get name=filter.slug value=slug %}" class="btn btn-default">{{ choice }}</a>
							{% endif %}
						{% endfor %}
					{% elif filter.type == 'boolean' %}
						{% if filter.slug in active_filters and '1;b' in active_values %}
							<a href="{% remove_from_get name=filter.slug value='1;b' %}" class="btn btn-success">{% trans 'Yes' %}</a>
						{% else %}
							<a href="{% append_to_get name=filter.slug value='1;b' %}" class="btn btn-default">{% trans 'Yes' %}</a>
						{% endif %}
						{% if filter.slug in active_filters and '0;b' in active_values %}
							<a href="{% remove_from_get name=filter.slug value='0;b' %}" class="btn btn-success">{% trans 'No' %}</a>
						{% else %}	
							<a href="{% append_to_get name=filter.slug value='0;b' %}" class="btn btn-default">{% trans 'No' %}</a>
						{% endif %}
					{% elif filter.type == 'int' %}
						{% for text, range in filter.get_choices.items %}
							{% if filter.slug in active_filters and range in active_values %}
								<a href="{% remove_from_get name=filter.slug value=range %}" class="btn btn-success">{{ text }}</a>
							{% else %}
								<a href="{% append_to_get name=filter.slug value=range %}" class="btn btn-default">{{ text }}</a>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}