{% extends "mbase/layouts/smooth-lg.html" %}
{% load staticfiles i18n %}

{% block title %}{% trans 'Search' %}{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'mcat/mcat.css' %}" />
{% endblock extra_head %}

{% block content %}
	<div class="alert alert-success text-center gbf-md gus gds"><a name="title"></a>{% trans 'Results for' %} <span class="gb">{{ user_query }}</span></div>
	<a name="main_content"></a>
	{% if products %}
	    <div class="text-center">
		    {% for product in products %}
		        {% include 'mcat/products/product_inline.html' %}
		    {% endfor %}
		</div>
		{% comment %}
	    <div class="row gus-l">
	    	{% include "mcat/products/paginate.html" %}
	    </div>
	    {% endcomment %}
	{% else %}
		<div class="jumbotron text-center gbf">{% trans "No results found" %}</div>
	{% endif %}
	{% include 'mbase/return_btn.html' %}
{% endblock %}