{% extends "base.html" %}
{% load i18n thumbnail mptt_tags staticfiles mcat_tags %}

{% block extra_head %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'mcat/mcat.css' %}" />
{% endblock extra_head %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
	<div id="product" class="row">
		<div class="col-xs-12">	
			{% include 'mcat/breadcrumbs.html' %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 gnp gds">
			{% with product.images.all as slides %}
				<a name="main_content"></a>{% include "mcat/jssor/images_slider.html" %}
			{% endwith %}
		</div>
		<div class="col-xs-12 col-sm-6">
			<h1 class="text-center"><a name="title"></a>{{ product.name }}</h1>
			{% if product.upc %}
				<div class="text-center gbf gds">
					<i class="fa fa-barcode"></i>&nbsp;{{ product.upc }}
				</div>
			{% endif %}
			<div class="hidden-md hidden-lg text-center gus gds-md">
				{% if not no_prices %}
					{% if product.price %}
						<div class="label label-primary gbf-md">{{ product|format_price|safe }}</div><br /><br /><br />
						<div class="label label-success gbf-md"><i class="fa fa-shopping-cart"></i>&nbsp;{% trans 'Add to cart' %}</div>
					{% endif %}
				{% endif %}
			</div>
			{{ product.short_description|safe }}
			{% if caracteristics %}
				<ul class="list-group gus-md">
					{% for name, val in caracteristics.items %}
						<li class="list-group-item">{{ name }} <span class="pull-right">
							{% if val.0 == 'boolean' %}
								{% if val.1 == '1' %}
									<i class="fa fa-check text-success gbf"></i>
								{% else %}
									<i class="fa fa-close gbf" style="color:grey"></i>
								{% endif %}
							{% else %}
								{{ val.1|safe }}
							{% endif %}
						</span></li>
					{% endfor %}
				</ul>
			{% endif %}	
			<div class="hidden-xs hidden-sm text-center gus-l gds">
				{% if not no_prices %}
					{% if product.price %}
						<span class="label label-primary gbf-md grs gls">{{ product|format_price|safe }}</span>
						{% if use_orders %}
						<span class="label label-success gbf-md">
							<a href="javascript:fire_request('#cart','{% url 'product-add-to-cart' slug=product.slug %}');">
								<i class="fa fa-shopping-cart"></i>&nbsp;{% trans 'Add to cart' %}
							</a>
						</span>
						{% endif %}
					{% endif %}
				{% endif %}
			</div>
			{% if product.description %}
					</div>
				</div>
				<div class="row gus">
					<div class="col-xs-12">
						{{ product.description|safe }}
			{% endif %}
		</div>
	</div>
	{% include 'mbase/return_btn.html' %}
{% endblock content %}