{% extends "base.html" %}
{% load i18n thumbnail mptt_tags staticfiles mcat_tags %}

{% block extra_head %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'mcat/mcat.css' %}" />
{% endblock extra_head %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
	<div id="product" class="row">
		<div class="col-xs-12">	
			{% include 'mcat/breadcrumbs.html' %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 gnp gds">
			{% with product.images.all as slides %}
				{% with product.slideshow_width as slideshow_width %}
					{% with product.slideshow_height as slideshow_height  %}
						<a name="main_content"></a>{% include product.slideshow_type %}
					{% endwith %}
				{% endwith %}
			{% endwith %}
		</div>
		<div class="col-xs-12 col-sm-6">
			<h1 style="margin-top:0"><a name="title"></a>{{ product.name }}</h1>
				{% if product.upc %}
					<div class="text-center gf">
						<div class="text-center gbf gi gmv grs gls">
							<i class="fa fa-barcode"></i>&nbsp;{{ product.upc }}
						</div>
					</div>	
				{% endif %}
			<div class="pull-right">
				<a href="tel:79817923"><i class="fa fa-phone fa-2x"></i></a>
			</div>
			{% if product.short_description %}
				<div class="gds">{{ product.short_description|safe }}</div>
			{% endif %}
			<div class="hidden-md hidden-lg gus-md gds-md">
				{% if not no_prices %}
					<div class="text-center">
						{% if product.discounted_price %}
							<div class="label label-primary gbf-md">{{ product.discounted_price|format_price|safe }}</div>
							<div class="price gbf gb gus">
								<del class="text-primary">
									<span>{{ product.price|format_price|safe }}</span>
								</del>
							</div>					
						{% else %}
							<div class="label label-primary gbf-md">{{ product.price|format_price|safe }}</div>
						{% endif %}
					</div>
					{% if product.deal_description %}
							<p>{{ product.deal_description|safe }}</p>
						{% endif %}
						{% if product.deal_conditions %}
							<h4>{% trans "Conditions" %}</h4>
							<div>{{ product.deal_conditions|safe }}</div>
						{% endif %}
					{% if use_order %}
						<div class="label label-success gbf-md">
							<i class="fa fa-cart-plus"></i>&nbsp;<a href="{% url 'add-to-cart' product.slug %}">{% trans 'Add to cart' %}</a>
						</div>
					{% endif %}
				{% endif %}
			</div>
			{% if caracteristics %}
				<ul class="list-group gus-md">
					{% for name, val in caracteristics.items %}
						<li class="list-group-item">{{ name }} <span class="pull-right">
							{% if val.0 == 'boolean' %}
								{% if val.1 == '1' %}
									<i class="fa fa-check text-success gbf"></i>
								{% else %}
									<i class="fa fa-close gbf" style="color:grey"></i>
								{% endif %}
							{% else %}
								{{ val.1|safe }}
							{% endif %}
						</span></li>
					{% endfor %}
				</ul>
			{% endif %}	
			{% if product.available is not True %}
				<div class="text-center alert alert-warning">
					<i class="fa fa-exclamation"></i>&nbsp;{% trans 'Product temporary unavailable' %}
				</div>
			{% endif %}
			<div class="hidden-xs hidden-sm gds">
				{% if not no_prices %}
					{% if product.price %}
						{% if product.discounted_price %}
							<div class="grs gls">
								<div class="label label-primary gbf-md gi">
									{{ product.discounted_price|format_price|safe }}
								</div>
								<del class="gbf gls gi">
									<span>{{ product.price|format_price|safe }}</span>
								</del>
							</div>
						{% else %}
							<div class="label label-primary gbf-md grs gls gi">{{ product.price|format_price|safe }}</div>
						{% endif %}
						{% if product.deal_description %}
							<p>{{ product.deal_description|safe }}</p>
						{% endif %}
						{% if product.deal_conditions %}
							<h4>{% trans "Conditions" %}</h4>
							<div>{{ product.deal_conditions|safe }}</div>
						{% endif %}
						{% if use_order %}
							<div class="gbf-md gi">
								<a class="btn btn-success{% if product.available != True %} btn-disabled{% endif %}" href="{% if product.available == True %}javascript:$('.dropdown-toggle').dropdown('toggle');fire_request('cart','{% url 'add-to-cart' slug=product.slug %}');{% else %}#{% endif %}"{% if product.available != True %} disabled{% endif %}>
									<i class="fa fa-shopping-cart"></i>&nbsp;{% trans 'Add to cart' %}
								</a>
							</div>
						{% endif %}
					{% endif %}
				{% endif %}
			</div>
			{% if product.qrcode %}
				<div class="gi gp center-xxs-fw"><img src="{{ product.qrcode.url }}" alt="" /></div>
			{% endif %}
			{% if product.brand %}
				<div class="gi gp center-xxs-fw">
					<img src="{{ product.brand.image.url }}" alt="" />
				</div>
			{% endif %}		
			{% if product.description %}
					</div>
				</div>
				<div class="row gus">
					<div class="col-xs-12">
						{{ product.description|safe }}
			{% endif %}
		</div>
	</div>
	{% include 'mbase/return_btn.html' %}
{% endblock content %}