{% extends "mbase/layouts/xs-12.html" %}
{% load staticfiles i18n bootstrap %}

{% block title %}{{ category.name }}{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'mcat/mcat.css' %}" />
{% endblock extra_head %}

{% block content %}
	<div class="pull-right label label-info hidden-xxs" style="position:relative;top:8px;right:10px;font-size:100%">{{ num_products }} {% trans 'products' %}</div>
	{% include 'mcat/breadcrumbs.html' %}
	<div class="label label-info visible-xxs" style="font-size:100%">{{ num_products }} {% trans 'products' %}</div>
	<a name="main_content"></a>
	<div class="row">
		<div class="col-xs-12 col-sm-9 col-sm-push-3">
			<h1 class="text-center"><a name="title"></a>{{ category.name }}</h1>
			{% if products %}
			    <div id="products" class="text-center">
				    {% for product in products %}
				        {% include 'mcat/products/product_inline.html' %}
				    {% endfor %}
				</div>
			{% else %}
				<div class="jumbotron text-center gbf">{% trans "No products found" %}</div>
			{% endif %}
			<div class="gus-l gf text-center">{% include "mcat/products/paginate.html" %}</div>
			<div class="hidden-xs">{% include 'mbase/return_btn.html' %}</div>
			<div class="visible-xs gds-md">{% include 'mbase/return_btn.html' %}</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-sm-pull-9">
			{% if use_filters = True %}
				{% with True as btn_block %}
					{% include 'mcat/render_filters.html' %}
				{% endwith %}
				{% if active_filters %}
					<a class="btn btn-block btn-default gus" href="{{ request.path }}">
						<i class="fa fa-close" style="color:grey"></i>
						{% trans 'Disable filters' %}				
					</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}

