{% extends "mbase/layouts/smooth-lg.html" %}
{% load staticfiles i18n bootstrap %}

{% block title %}{{ category.name }}{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'mcat/mcat.css' %}" />
{% endblock extra_head %}

{% block content %}
	<h1 class="text-center"><a name="title"></a>{{ category.name }}</h1>
	{% include 'mcat/breadcrumbs.html' %}
	<a name="main_content"></a>
	<div class="row">
		<div class="col-xs-12 col-sm-9 col-sm-push-3">
			{% if products %}
			    <div class="text-center">
				    {% for product in products %}
				        {% include 'mcat/products/product_inline.html' %}
				    {% endfor %}
				</div>
			{% else %}
				<div class="jumbotron text-center gbf">{% trans "No products found" %}</div>
			{% endif %}
		</div>
		<div class="col-xs-12 col-sm-3 col-sm-pull-9">
			{% include 'mcat/render_filters.html' %}
		</div>
		<div class="gus-l gf text-center">{% include "mcat/products/paginate.html" %}</div>
		{% include 'mbase/return_btn.html' %}
	</div>
{% endblock %}

