{% load i18n thumbnail staticfiles mcat_tags %}

<div class="product_inline"{% if use_price_filter %} data-price="{{ product.get_price }}"{% endif %}>
	<div class="product_title" class="text-center">
		{% if search %}
			<a href="{% url 'product-detail' slug=product.slug category_slug=product.category.slug %}">{{ product.name|truncatechars:38 }}</a>
		{% else %}
			<a href="{% url 'product-detail' slug=product.slug category_slug=category.slug %}">{{ product.name|truncatechars:38 }}</a>
		{% endif %}
	</div>
	<div>
		{% if search %}
			<a href="{% url 'product-detail' slug=product.slug category_slug=product.category.slug %}">
		{% else %}
			<a href="{% url 'product-detail' slug=product.slug category_slug=category.slug %}">
		{% endif %}
		{% thumbnail product.navimage "200x200" as img %}
			<img src="{{ img.url }}" alt="" style="margin:{{ img|margin:"200x200" }}" />
		{% endthumbnail %}
		</a>
		<div class="text-center" style="min-height:1.4em">
			{% if product.upc %}
				<i class="fa fa-barcode"></i>&nbsp;{{ product.upc }}
			{% endif %}
		</div>
		{% if not no_prices %}
			{% if product.price %}
				<div class="text-center gus-md">
					{% if product.discounted_price %}
						<div class="label label-primary gbf">
							{{ product.discounted_price|format_price|safe }}
						</div>
						<div class="price gus gbf gb">
							<del class="text-primary">
								<span>{{ product.price|format_price|safe }}</span>
							</del>
						</div>
					{% else %}
						<div class="label label-primary gbf">
							{{ product.price|format_price|safe }}
						</div>
					{% endif %}
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>