{% load thumbnail staticfiles %}

<div class="product_inline">
	<p class="text-center">
		<a href="{% url 'product-list' slug=category.slug %}#main_content">{{ product.name }}</a>
	</p>
	<div>
		<a href="{% url 'product-detail' slug=product.slug category_slug=category.slug %}#main_content">
		{% thumbnail product.navimage "200x200" as img %}
			<img src="{{ img.url }}" alt="" style="margin:{{ img|margin:"200x200" }}" />
		{% endthumbnail %}
		</a>
		<div class="text-center">
			{{ product.short_description|safe }}
		</div>
	</div>
</div>