{% load i18n thumbnail staticfiles %}

<div class="product_inline">
	<p class="text-center">
		<a href="{% url 'product-list' slug=product.category.slug %}">{{ product.name }}</a>
	</p>
	<div>
		<a href="{% url 'product-detail' slug=product.slug category_slug=product.category.slug %}">
		<img src="{{ product.navimage|thumbnail_url:'square' }}" alt="" />
		</a>
		{% if product.upc %}
			<div class="text-center">
				<i class="fa fa-barcode"></i>&nbsp;{{ product.upc }}
			</div>
		{% endif %}	
	</div>
</div>